@import "tailwindcss";

:root {
  --background: #e9e6df;
  --foreground: #212121;
  --accent: #c78362;
  --font-main: var(--font-main-fallback, ui-monospace, monospace);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-main);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main), ui-monospace, monospace;
}
